requests
beautifulsoup4
pandas
matplotlib
networkx
wordcloud
Jinja2
seaborn
spacy
ginza
lxml
pytest
tqdm
structlog
fuzzywuzzy
mecab
dateparser
loguru
japanize-matlibplot-modern
scikit-learn
requests_cache
pymongo
tabulate
jaconv
result